<div class="padding">
    <div class="full col-sm-9">
        <!-- content -->
        <h2>
          Almacen:  {{totalAlmacen}}
          <br>
          <a href="#" class="btn btn-primary btn-xs pull-right" ng-click="mostrarModal()">
              <i class="glyphicon glyphicon-plus-sign"></i>
               Procesamiento</a>
        </h2>
        <br>
        <div class="table-scroll">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ITERACION</th>
                <th>DEMANDA</th>
                <th>PRODUCCION</th>
                <th>IMPORTACION</th>
                <th>PASO</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat = "registro in registros">
                <td>{{registro.id}}</td>
                <td>{{registro.demanda}}</td>
                <td>{{registro.producir}}</td>
                <td>{{registro.importar}}</td>
                <td>{{registro.paso}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>
